* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

html,
body {
    font-family: -apple-system, Segoe UI, Roboto, Oxygen,
        sans-serif;

}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}
