.container {
    padding: 0 2rem;

    .main {
        min-height: 90vh;
        padding: 4rem 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            margin: 0;
            line-height: 1.15;
            font-size: 4rem;
        }

        .title,
        .description {
            text-align: center;
        }

        .loader {
            border: 6px solid #f3f3f3;
            border-top: 6px solid #4caf50;
            border-radius: 50%;

            width: 50px;
            height: 50px;

            animation: spin 2s linear infinite;
        }

        .description {
            margin: 3rem 0;
            line-height: 1.5;
            font-size: 2rem;

            &.highlight {
                padding: 5px 20px;
                font-size: 1.5rem;
                border-radius: 5px;
            }

            &.negative {
                background-color: #e639467f;
                color: #e63946;
            }

            &.neutral {
                background-color: #7f7f7f7f;
                color: #afafaf;
            }

            &.positive {
                background-color: #4caf507f;
                color: #4caf50;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .textarea {
                border: 1px solid #7f7f7f;
                border-radius: 5px;

                padding: 15px;

                width: 200%;
                min-height: 200px;

                font-size: 1.25rem;
                line-height: 35px;
                vertical-align: center;

                &.negative {
                    border-color: #e639467f;
                    color: #e63946;
                }

                &.neutral {
                    border-color: #7f7f7f7f;
                    color: #afafaf;
                }

                &.positive {
                    border-color: #4caf507f;
                    color: #4caf50;
                }

                &:hover,
                &:focus-within {
                    border-color: #afafaf;
                }
            }

            .button {
                background-color: #ffffff;
                color: #000000;

                border: 1px solid transparent;
                border-radius: 5px;

                padding: 10px 20px;
                margin: 15px 10px;

                min-width: 125px;

                font-size: 16px;
                text-align: center;
                display: inline-block;

                cursor: pointer;

                &:hover {
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    background-color: transparent;
                }

                &.reset {
                    background-color: #e63946;
                    color: #ffffff;

                    &:hover {
                        border: 1px solid #e63946;
                        color: #e63946;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        flex: 1;
        padding: 1.2rem 0;
        border-top: 1px solid #505050;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
        border-color: #222;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
